
<body>
    <div class="container">
        <h5 id=" id">Id</h5>
        <h5 id="firstname">FirstName</h5>
        <h5 id="lastname">LastName</h5>

        <button onclick="btnClick()" class="btn btn-primary">Click Me</button>
    </div>
</body>

@section Scripts{ 
<script>
    
</script>
}